<div [ngSwitch]="status">
  <div *ngSwitchCase="Status.INTIATING" class="flex-container">
    <mat-progress-spinner class="spinner"
                          mode="indeterminate"
                          diameter="40">
    </mat-progress-spinner>
    <div>We are creating your payment</div>
  </div>
  <div *ngSwitchCase="Status.PAYMENT">
    <iframe [src]="externalPaymentUrl"></iframe>
  </div>
  <div *ngSwitchCase="Status.CHECK">
    <mat-spinner></mat-spinner>
    <div>We are processing your payment</div>
  </div>
  <div *ngSwitchCase="Status.CONFIRMED">
    <mat-spinner></mat-spinner>
    <div>Payment success you will receive your payment shortly</div>
  </div>
</div>
